

/* Main marketing message and sign up button */

.back-to {
  bottom: 55px;
  overflow: hidden;
  position: fixed;
  right: 10px;
  width: 110px;
  z-index: 999;
}
.back-to .back-top {
  background: url("../img/TOP.png") no-repeat scroll 0 0 transparent;
  display: block;
  float: right;
  height: 50px;
  margin-left: 10px;
  outline: 0 none;
  text-indent: -9999em;
  width: 50px;
}
.back-to .back-top:hover {
  background-position: -50px 0
}

.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 34px;
  font-size: 221px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 868px) {
  /* Remove the padding we set earlier */
  .header,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 280px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
